.block { text-align: justify; }
.code {
    border: 1px solid #606060;
    background-color: #202020;
    color: #AAB0AA;
    padding: 5px;
}
.indent {
    margin-left: 30px;
    margin-right: 50px;
}
.minus { color: #FF0000; }
.plus { color: #00FF00; }
.star { color: #FFFF00; }
table.sBorder, table.sBorder td {
    border-collapse: collapse;
    border: 1px solid #555555;
}
.section { color: #990040; }
a, a:visited {
    color: #FF0000;
    text-decoration: none;
}
a:active, a:hover, a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}
body {
    background-color: #000000;
    color: #CCCCCC;
    margin: 0px;
}
p, td { font-family: "Verdana", "Arial", sans-serif; }
td {
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}
i { font-family: "Arial", sans-serif; }
p {
    margin-top: 0px;
    margin-bottom: 10px;
}
