.block { text-align: justify; }
.code {
    border: 1px solid #C0C0C0;
    background-color: #DDDDDD;
    padding: 5px;
}
.indent {
    margin-left: 30px;
    margin-right: 50px;
}
.minus { background-color: #FFA0A0; }
.plus { background-color: #A0FFA0; }
.star { background-color: #FFFFA0; }
table.sBorder, table.sBorder td {
    border-collapse: collapse;
    border: 1px solid #000000;
}
.section { color: #C00000; }
a { color: #C00000; }
a:visited { color: #C00040; }
a:active, a:hover, a:focus { color: #000000; }
body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0px;
}
p, td { font-family: "Verdana", "Arial", sans-serif; }
td {
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}
i { font-family: "Arial", sans-serif; }
p {
    margin-top: 0px;
    margin-bottom: 10px;
}
